:root{
  --sidebar-width-norm: 280px;
  --sidebar-width-sm: 4.5rem;
}

html,
body {
  height: 100%;
  line-height: 1.5;
}

main {
  padding: 1em;
}

.page-content {
  margin-left: var(--sidebar-width-norm);
  overflow-y: scroll;
}

.asteriskField {
  display: none;
}