.order-status-table-cell {
    color: white !important;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.form-floating>label {
    left: auto;
}

.select2.select2-container {
    width: 100% !important;
}

.select2-search__field {
    height: 25px !important;
    vertical-align: center !important;
    padding-top: 1px !important;
}

a {
    text-decoration: none;
}

