/* the whole sidebar element <div> */
.sidebar-element {
    position: fixed;
    z-index: 1030;
    width: var(--sidebar-width-px);
}

/* .bi is the class for orders/clients/new order image */
.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

/* Dropdown arrow next to the username on the sidebar */
.dropdown-toggle {
    outline: 0;
}


/* Anchor link for orders/clients/new order buttons */
.nav-link {
    border-radius: 0;
}