{% extends "base/_base_landing_page.html" %}

{% block content %}
    <main class="row flex-grow-1 vw-100">
        <div class="m-auto">
            <script async src="https://js.stripe.com/v3/pricing-table.js"></script>

            <stripe-pricing-table
                    pricing-table-id="{{ stripe_pricing_table_id }}"
                    publishable-key="{{ stripe_public_key }}"
                    client-reference-id="{{ request.user.id }}">
            </stripe-pricing-table>

        </div>
    </main>
{% endblock content %}

{% block script %}
{% endblock script %}