{% extends "base/_base_in_product.html" %}
{% load static %}
{% load humanize %}

{% block content %}
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Client Name</th>
                <th scope="col">Client Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Total Spent</th>
                <th scope="col">Actions</th>
            </thead>

            <tbody>
                {% for client_list in client_list %}
                {% if user.company == client_list.company %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ client_list.first_name }} {{client_list.last_name}} </td>
                    <td>{{ client_list.phone_number }} </td>
                    <td>{{ client_list.email }} </td>
                    <td>${{ client_list.total_spent_column | floatformat:2 | intcomma | default:0 }} </td>
                    <td>
                        <a href="{% url 'order_tracking:client_update' client_list.pk %}">Edit</a> |
                        {% if user.is_owner or user.is_employee %}
                        <a href="{% url 'order_tracking:client_delete' client_list.pk %}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>

        </table>
{% endblock %}