{% extends "base/_base_in_product.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Delete Client
{% endblock title %}

{% block content %}
    <div class="col-lg-7 mx-auto">
        <h1 class="display-6">Are you sure you want to delete this client?</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Yes"
                   class="btn btn-primary col-lg-1">
            <a href="{% url 'order_tracking:client_list' %}"
               class="btn btn-secondary col-lg-1">
              No
            </a>
        </form>
    </div>
{% endblock content %}
