{% extends "base/_base_in_product.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    {% crispy form %}
{% endblock content %}

{% block script %}
    <script src="/static/js/clientDataUpdate.js"></script>
    <script>
        // Initially set the field states and add an event listener
        toggleFieldsDisabled();
        clientExistsSelector.addEventListener('change', toggleFieldsDisabled);

        const createOrderUrl = "{% url 'order_tracking:order_create' %}";
        clientSelector.addEventListener('change', () => populateClientFields(createOrderUrl));
    </script>
{% endblock script %}