{% extends "base/_base_in_product.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Update Order
{% endblock title %}

{% block content %}
    <div>
         <form method="post" enctype="multipart/form-data">

             {% csrf_token %}
             <div>
                 {% crispy client_form %}
             </div>
             <div>
                {% crispy form %}
             </div>
             <button type="submit" class="btn btn-primary">Submit</button>

             <div class="col-md-4">
                <div class="order-notes text-center">
                    <label>Notes Log</label>
                    <ul class="order-note-list">
                        {% for note in notes %}
                            <li>
                                <div class="note-content">{{ note.content }}</div>
                                <div class="note-timestamp">{{ note.timestamp }}</div>
                                <button class="note_delete" data-note-id="{{ note.id }}" data-delete-url="{% url 'order_tracking:note_delete' note.id %}">X</button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
             </div>

             <script>
                // Get the checkbox and the fields to be disabled
                const select = document.querySelector('#id_client_already_exists');
                const fieldsToDisableUser = [
                    document.querySelector('#id_first_name'),
                    document.querySelector('#id_last_name'),
                    document.querySelector('#id_email'),
                    document.querySelector('#id_phone_number'),
                ];
                const fieldsToDisableClient = [
                    document.querySelector('#id_client'),
                ];

                // Function to toggle the disabled attribute on fields
                function toggleFieldsDisabled() {
                    const isClientExists = select.value === 'True';
                    const isClientDropdownDisabled = select.value === 'False';

                    fieldsToDisableUser.forEach(field => {
                        field.disabled = isClientExists;
                    });

                    fieldsToDisableClient.forEach(field => {
                        if (field.id === 'id_client') {
                            field.disabled = isClientDropdownDisabled;
                        } else {
                            field.disabled = isClientExists;
                        }
                    });
                }

                // Initially set the field states and add an event listener
                toggleFieldsDisabled();
                select.addEventListener('change', toggleFieldsDisabled);
             </script>

             <script>
                 // Get the checkbox and the fields to be disabled
                 document.getElementById('add-note-button').addEventListener('click', function () {
                     const noteContent = document.getElementById('id_note_content').value;
                     if (noteContent.trim() !== '') {
                         // Create a new FormData object
                         const formData = new FormData();
                         formData.append('note_content', noteContent); // Append the note content to the form data
                         console.log("FormData:", formData);

                         // Send an AJAX request to add the note
                         fetch('{% url "order_tracking:note_update" pk=object.pk %}', {
                             method: "POST",
                             body: formData,
                             headers: {
                                 "X-CSRFToken": getCookie("csrftoken"),
                                 "X-Note-Action": "create",
                             }
                         })
                         .then(response => response.json())
                         .then(data => {
                             if (data.success) {
                                 // Construct the new note element and add it to the list
                                 const noteElement = document.createElement('li');
                                 noteElement.innerHTML = `
                                    <div class="note-content">${noteContent}</div>
                                    <div class="note-timestamp">${data.timestamp}</div>
                                    <button class="note-delete" data-note-id="${data.note_id}" data-delete-url="{% url 'orders:note-delete' 0 %}">X</button>
                                 `;
                                 const noteList = document.querySelector('.order-note-list');
                                 noteList.appendChild(noteElement);

                                 // Clear the note content input field
                                 document.getElementById('id_note_content').value = '';

                                 // Reload the page to reflect the note addition
                                 location.reload();
                             } else {
                                 console.error("Error adding note:", data.error);
                             }
                         })
                         .catch(error => {
                             console.error("Error adding note:", error);
                         });
                     }
                 });




                 document.addEventListener('DOMContentLoaded', function () {
                     // Add an event listener for the "X" buttons
                     document.querySelectorAll('.note-delete').forEach(function (button) {
                         button.addEventListener('click', function () {
                             const noteId = button.getAttribute('data-note-id');
                             const deleteUrl = button.getAttribute('data-delete-url');

                             // Create a new FormData object
                             const formData = new FormData();
                             formData.append('note_id', noteId); // Append the note_id to the form data

                             // Debugging: Log the URL and noteId to the console
                             console.log('Delete URL:', deleteUrl);
                             console.log('Note ID:', noteId);

                             // Send an AJAX request to delete the note with the note_id
                             fetch(deleteUrl, {
                                 method: "POST",
                                 body: formData, // Send the note_id in the request body
                                 headers: {
                                     "X-CSRFToken": getCookie("csrftoken")
                                 }
                             })
                             .then(response => response.json())
                             .then(data => {
                                 if (data.success) {
                                     // Reload the page to reflect the soft deletion
                                     location.reload();
                                 } else {
                                     console.error("Error deleting note:", data.error);
                                 }
                             })
                             .catch(error => {
                                 console.error("Error deleting note:", error);
                             });
                         });
                     });
                 });



                 // Function to get the CSRF token
                 function getCookie(name) {
                     let cookieValue = null;
                     if (document.cookie && document.cookie !== "") {
                         const cookies = document.cookie.split(";");
                         for (let i = 0; i < cookies.length; i++) {
                             const cookie = cookies[i].trim();
                             // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) === name + "=") {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                 }

             </script>


            <style>
                .order-notes {
                    background-color: #f8f9fa;
                    border: 1px solid #dcdcdc;
                    padding: 10px 20px 10px 10px;
                }

                .order-note-list {
                    list-style: none;
                    padding: 0;
                }

                .order-note-list li {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #dcdcdc;
                    padding-bottom: 10px;
                }

                .note-content {
                    text-align: left;
                    width: 50%;
                    word-wrap: break-word;
                }

                .note-timestamp {
                    text-align: right;
                    padding-right: 10px;
                    width: 50%;
                    text-align: right;
                }



                .custom-add-note-button {
                    background-color: #007bff; /* Change the button's background color */
                    color: #fff; /* Change the text color to white */
                    border: none; /* Remove the default button border */
                    border-radius: 5px; /* Add rounded corners */
                    padding: 10px 20px; /* Adjust padding for better button sizing */
                    cursor: pointer; /* Add a pointer cursor on hover */
                }

                .custom-add-note-button:hover {
                    background-color: #0056b3; /* Change the background color on hover */
                }



                .note-delete {
                    color: red; /* Make the "X" text red */
                    width: 30px; /* Set a fixed width for the "X" button */
                    height: 30px; /* Set a fixed height for the "X" button */
                    text-align: center; /* Center the "X" horizontally within the button */
                    cursor: pointer; /* Add a pointer cursor on hover */
                }

                /* Add this CSS code if you want to change the button's background color on hover */
                .note-delete:hover {
                    background-color: lightcoral; /* Change the background color on hover */
                }
            </style>
        </form>
    </div>
{% endblock content %}
