{% extends "base/_base_in_product.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/notes_log.css">
{% endblock stylesheets %}

{% block title %}
    Update Order
{% endblock title %}

{% block content %}
  <div class="col-lg-7 mx-auto">
    {% crispy form %}
    <button type="button" id="add-note-button" class="btn btn-primary col-md-3 mb-4">Add Note</button>
    <div class="col-lg-8 order-notes text-center">
      <ul class="order-note-list">
        {% for note in notes %}
          <li>
            <div class="note-content">{{ note.content }}</div>
            <div class="note-timestamp">{{ note.timestamp }}</div>
            <button class="note-delete"
                    data-note-id="{{ note.id }}"
                    data-delete-url="{% url 'order_tracking:note_delete' note.id %}">
              X
            </button>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}


{% block script %}
  <script>
    const noteUpdateUrl = "{% url "order_tracking:note_update" pk=object.pk %}";
  </script>
  <script src="/static/js/orderNotesLog.js"></script>
{% endblock script %}