{% extends "base/_base_in_product.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/order_tracking.css' %}">
{% endblock stylesheets %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <th class="text-center" scope="col">#</th>
            <th scope="col">Order Picture</th>
            <th scope="col">Client Name</th>
            <th class="text-center" scope="col">Order Status</th>
            <th scope="col">Order Type</th>
            <th scope="col">Order Date</th>
            <th scope="col">Due Date</th>
            <th class="text-end" scope="col">Order Price</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            {% for order in order_list %}
                <tr class="align-middle">
                    <th class="text-center" scope="row">{{ forloop.counter }}</th>
                    <td>
                        {% if order.order_photo %}
                            <img class="rounded-image" src="{{ order.order_photo.url }}" alt="Order Photo">
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ order.client.first_name }} {{ order.client.last_name }}</td>
                    <td><div class="order-status-table-cell">{{ order.get_order_status_display }}</div></td>
                    <td>{{ order.get_order_type_display }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.order_due_date }}</td>
                    <td class="text-end">{{ order.quoted_price }}</td>
                    <td>
                        <a href="{% url 'order_tracking:order_update' order.pk %}">Edit</a> |
                        {% if user.is_owner or user.is_employee %}
                        <a href="{% url 'order_tracking:order_delete' order.pk %}">Delete</a>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}

            {% comment %} Modal for displaying image {% endcomment %}
            <div id="imageModal" class="modal">
                <span class="close" id="closeModal">&times;</span>
                <img class="modal-content" id="modalImage" src="" alt="">
            </div>
        </tbody>
    </table>
{% endblock content %}

{% block script %}
    <script>
        // Get the modal and image elements
        let modal = document.getElementById("imageModal");
        let modalImg = document.getElementById("modalImage");

        // Get all images with the class "rounded-image"
        let images = document.querySelectorAll(".rounded-image");

        // Get the close button
        let closeModal = document.getElementById("closeModal");

        // Loop through all images and add an event listener to each
        images.forEach(function(image) {
            image.addEventListener("click", function() {
                modal.style.display = "block";
                modalImg.src = this.src;
            });
        });

        // Close the modal when the close button is clicked
        closeModal.onclick = function() {
            modal.style.display = "none";
        };

        // Close the modal when the user clicks outside the modal
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        };
    </script>
    <script src="/static/js/orderTrackingStatusBgColor.js"></script>
{% endblock script %}