{% extends "base/_base_landing_page.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	Contact Information
{% endblock title %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        {{ wizard.management_form }}
        {% for field in wizard.form %}
        	{{ field | as_crispy_field }}
        {% endfor %}

        {% if wizard.steps.prev %}
            <button name="wizard_goto_step"
                    type="submit"
                    value="{{ wizard.steps.prev }}"
                    class="btn btn-primary">
                prev step
            </button>
        {% endif %}
        {% if wizard.steps.next %}
            <button name="wizard_goto_step"
                    type="submit"
                    value="{{ wizard.steps.next }}"
                    class="btn btn-primary">
                next step
            </button>
        {% endif %}
        <input class="btn btn-primary" type="submit" value="submit" />
    </form>
{% endblock content %}

{% block script %}
    <script>
        const userProfileUrl = "{% url 'accounts:profile_completion' %}"
        document.getElementById('id_1-zip_code')
            .addEventListener("blur", () => addressUpdate(userProfileUrl));
    </script>
    <script src="/static/js/addressUpdate.js"></script>
{% endblock script %}